$gossamer: #09B070;
$amazon: #30765C;
$travertine: #FFFDE9;
$black: #000000;
$alto: #DADADA;
$seagull: #FFFFFF;
$bluehair: #FAFAFA;
$puget: #F5F5F5;
$dust: #9B9B9B;
$lemon-chiffon: #FFFAC4;
$alert: #cc4b37
