@font-face {
  font-family: 'Calibri';
  src: font-url('calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: font-url('calibri_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
