@import 'colors';

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-height: 100%;
  overflow-y: auto;
  padding-top: 16px;
  flex-grow: 1;
}

h4 {
  text-align: center;
}

.footer {
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
  background: $alto;
}

label {
  width: 100%;
  display:block;
  border:solid 2px $dust;
  border-radius:10px;
  -webkit-font-smoothing: antialiased;
  color:$dust;
}

input[type=checkbox] {
  display: none;
}

input:checked + label {
  border-color: $gossamer;
  color: $gossamer;
  p {
    color: $black;
  }
}

input:checked + label:before {
  content: "✓ ";
}

.label--check {
  visibility: hidden;
  float:left;
  width: 10%;
  padding-left: 1rem;
}

.label--text {
  float: left; width: 90%;
}

input:checked + label .label--check {
  visibility: visible;
}

input.checkbox:checked + label:before {
  content: "";
}

.assessments__check {

}
