@import 'colors';

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-height: 100%;
  overflow-y: auto;
  padding-top: 16px;
  flex-grow: 1;
}

h4 {
  text-align: center;
}

.footer {
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
  background: $alto;
}

.assessments__submit {
  display: none;
}

.assessments__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.assessments__checkbox-label {
  display:block;
  border:solid 2px $dust;
  border-radius:10px;
  -webkit-font-smoothing: antialiased;
}

input[type=checkbox] {
  display: none;
}

input:checked + .assessments__checkbox-label {
  border-color: $gossamer;
  color: $gossamer;
  p {
    color: $black;
  }
}

.label--check {
  visibility: hidden;
  float:left;
  width: 10%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.label--text {
  float: left; width: 90%;
}

input:checked + label.assessments__checkbox-label .label--check {
  visibility: visible;
}
