@import 'colors';

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-height: 100%;
  overflow-y: auto;
  padding-top: 16px;
  flex-grow: 1;
  background-color: $bluehair;
}

.copyright {
  text-align: center;
  margin: 10px 0;
  color: $dust;

  a {
    color: $dust;
    text-decoration: underline;
    &:hover { color: lighten($dust, 5%); }
  }
}

h4 {
  text-align: center;
}

.assessments {

  &__form {
    padding: 0 3rem;
  }

  &__title {
    font-size: 1.25rem;
    margin: 15px 0 40px;
  }

  &__checkbox-label {
    display: flex !important; // because of foundation's label css :(
    width: 100%;
    -webkit-font-smoothing: antialiased;
    flex-direction: row;
  }

  &__checkbox-label-check {
    $checkbox-size: 25px;
    min-width: $checkbox-size;
    max-width: $checkbox-size;
    min-height: $checkbox-size;
    max-height: $checkbox-size;
    background: white;
    border: 1px solid $black;
    box-shadow: inset 1px 2px 3px -1px rgba(0,0,0,0.3);
    margin: 0 10px;
    position: relative;
    text-align: center;
    i {
      line-height: 20px;
      visibility: hidden;
    }
  }

  &__checkbox-label-agreements {
    border:solid 1px $dust;
    border-radius:10px;
  }

  &__checkbox-label-text p {
    color: $black;
  }

  &__special-referrals {
    display: none;
    background: linear-gradient($travertine, $lemon-chiffon);
    padding: 15px;
    margin-bottom: 15px;
  }

  &__special-referral-list {
    margin: 0;
    list-style-type: none;
  }
}

input:checked + .assessments__checkbox-label {
  border-color: $gossamer;
  color: $gossamer;

  .assessments__checkbox-label-check {
    i {
      color: $gossamer;
      visibility: visible;
      position: absolute;
      font-size: 2.15rem;
      top: -1px;
      left: 0;
    }
  }
}
