@import 'colors';

.nodes__question {
  text-align: center;
  font-weight: bold;
}

.nodes__child-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nodes__next-form {
  padding: 15px;
}
