@import 'colors';

.nodes__question {
  text-align: center;
  font-weight: bold;
}

.nodes__child-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nodes__child-list-item {
  min-width: 150px;
  width: 150px;
  height: 150px;
  border: 2px solid $dust;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.nodes__child-list-item--selected {
  border-color: $gossamer;
  color: $gossamer;
}

.nodes__next-form {
  padding: 15px;
}

.nodes__footer-flash {
  color: white;
  padding: 0;
  transition: all 0.5s;
}

.nodes__footer-flash--visible {
  padding: 15px;
  background: linear-gradient($travertine, $lemon-chiffon);
}

.nodes__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
