@import 'colors';

.primary-referral {
  max-width: 50%;

  &__markdown {
    a {
      text-decoration: underline;
      color: black;
    }
  }
}

.primary-referrals-show .footer__buttons a {
  color: $gossamer;
  text-transform: uppercase;
  margin-left: 60px;
  font-weight: bold;
  font-size: 1.5rem;

  i {
    padding-right: 10px;
  }
}
