@import 'colors';
@import 'mixins';

@include checkbox(action-items);

.action-items__header {
  @include headerText;
  text-align: center;
  margin-top: 20px;
}

.action-items__checkbox-label {
  margin: 15px auto !important;
  max-width: 600px;
}

.action-items__checkbox-label-text {
  color: $black;
  font-size: 18px;
}
