@import 'colors';

.card-header {
  text-align: right;

  &__actions-link {
    color: $gossamer;
    font-size: 24px;
    margin-right: 20px;

    &:hover {
      color: $amazon;
    }

    &:visited {
      color: $amazon;
    }

    i {
      padding-right: 15px;
    }
  }
}
