@import 'mixins';
@include checkbox(email-modal);

.email-modal {
  &__header {
    text-align: center;
    font-size: 20px;
  }

  &__submit-container {
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: $gossamer;
    cursor: pointer;

    i {
      padding-right: 5px;
    }
  }

  &__checkbox-label-text {
    color: black;
  }

  &__checkbox-label--email {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  &__checkbox-label-check--email {
    margin-left: 0 !important;
 }
}
