@import 'colors';

body {
  display: flex;
  flex-direction: column;
  @media screen { height: 100%; }
}

.flash {
  text-align: center;
  background: $gossamer;
  padding: 10px;
  color: $bluehair;
}

.container {
  display: flex;
  overflow-y: auto;
  flex-grow: 1;
  padding-top: 16px;
  justify-content: center;
  background-color: $bluehair;
  @media screen { max-height: 100%; }
}

.copyright {
  text-align: center;
  margin: 10px 0;
  color: $dust;
  font-size: calc(14px);
  a {
    color: $dust;
    text-decoration: underline;
    &:hover { color: lighten($dust, 5%); }
  }
}

.card-wrapper { min-height: 100%; }

.card {
  background: $seagull;
  border: 1px solid $alto;
  padding: 2rem !important;
  box-shadow: 3px 2px 0px $alto;
  max-width: 620px;
  margin: auto;
}

.card-footer {
  color: $dust;
  img {
    margin: 15px 0;
    max-width: 70%;
  }
}
