@import 'colors';

$container-width: 940px;

.top-bar {
  border-bottom: 2px solid $alto;
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: $container-width;
    margin: auto;

    img {
      height: 40px;
      margin-left: 15px;
      vertical-align: baseline;
    }
    p {
      display: inline-block;
      width: 250px;
      line-height: 18px;
      margin-bottom: 0;
      margin-left: 10px;
      vertical-align: baseline;
      color: $dust;
    }
  }

  .top-bar-right {
    padding-left: 1rem;
    padding-right: 1rem;

    .menu-text {
      font-weight: normal;
    }
  }
}

.footer {
  background: $bluehair;
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
}

.footer-flash {
  max-width: $container-width;
  margin: 0 auto 5px auto;
  padding: 0;
  height: 0;
  visibility: hidden;
}

.footer-flash--visible {
  background: linear-gradient($travertine, $lemon-chiffon);
  line-height: 1.2;
  transition: all 0.2s;
  padding: 20px;
  height: auto;
  visibility: visible;
}

.footer__buttons {
  margin: 0 auto;
  display: flex;
  max-width: $container-width;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-between;

  &-container {
    background: $seagull;
    border-top: 1px solid $alto;
  }
}
