@import 'colors';
$square-icon-size: 60px;

.square-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.square {
  min-width: 150px;
  width: 150px;
  height: 150px;
  border: 1px solid $black;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.5);
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  &__icon, &__icon--selected {
    width: $square-icon-size;
    height: $square-icon-size;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    pointer-events: none;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &--selected {
    font-weight: bold;
    border-color: $gossamer;
    color: $gossamer;
    box-shadow: none;
  }
}
